<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us page</title>
    <link href="/Ehsan-FrontClass/assets/style/about.css" rel="stylesheet">
</head>
<body>
    

<h1>
    this is about page
</h1>

<div class="aboutCard">
<h2> about card</h2>
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores laudantium provident dolores molestias! Repellendus assumenda consequatur hic fuga est, non quaerat mollitia a possimus? Tempore harum dolorem eos voluptates fuga! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum nobis et rerum, quibusdam odit sapiente optio nisi aperiam eos earum, tempore adipisci fuga odio laboriosam dolorum? Consequatur eveniet accusamus impedit! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo delectus dolore error, eum, quae blanditiis quas ipsa rem modi expedita molestias? Odio deleniti ex reiciendis officia eum nobis laudantium nemo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

<span class="lable"> new  </span>

</div>



</body>
</html>