<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>child selector</title>
    <link rel="stylesheet" href="/Ehsan-FrontClass/assets/style/child.css">
</head>

<body>

    <ul class="menu">
        <li>home</li>
        <li>about us
            <ul>
                <li>our team</li>
                <li>contact us</li>
            </ul>
        </li>
        <li>services</li>
        <li>product</li>
    </ul>



    <div class="box">
        <img class="img1" src="https://cdn.mehrparvaz.com/Content/Upload/Images/کوش ادادسی.webp">
        <p class="title">تور مسقط 3 شب (ویژه مهرماه1404)</P>

        <div class="box2">
            <div class="box3">
                <svg width="20px" hieght="20px" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M19,4H17V3a1,1,0,0,0-2,0V4H9V3A1,1,0,0,0,7,3V4H5A3,3,0,0,0,2,7V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4Zm1,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V12H20Zm0-9H4V7A1,1,0,0,1,5,6H7V7A1,1,0,0,0,9,7V6h6V7a1,1,0,0,0,2,0V6h2a1,1,0,0,1,1,1Z">
                        </path>
                    </g>
                </svg>
                <p>مهرماه1404</p>
            </div>
            <div class="air">
                <img class="img2" width="20px" height="20px" src="https://cdn.mehrparvaz.com/Content/Upload/Images/کوش ادادسی.webp">
                <p>سپهران</p>
            </div>
        </div>
        <div class="price">
            <p>از 23000000 تومان</p>
        </div>
    </div>


</body>

</html>