<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex box</title>
    <link rel="stylesheet" href="/Ehsan-FrontClass/assets/style/flex.css">
</head>
<body>
    
    <div class="container">

        <p class="num">1</p>
        <p class="num">2</p>
        <p class="num">3</p>
        
    </div>


<div class="cards">



    <div class="card">
        <img class="card-img" src="/Ehsan-FrontClass/assets/images/nature.jpg">
        <h3 class="card-title"> programing lang</h3>
        <p class="card-des"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit sunt exercitationem officia nesciunt dicta, deserunt voluptate libero distinctio provident accusamus aspernatur id mollitia dignissimos. Eaque delectus totam non quasi?</p>
        </div>
        
        <div class="card">
            <img class="card-img" src="/Ehsan-FrontClass/assets/images/nature.jpg">
            <h3 class="card-title"> programing lang</h3>
            <p class="card-des"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit sunt exercitationem officia nesciunt dicta, deserunt voluptate libero distinctio provident accusamus aspernatur id mollitia dignissimos. Eaque delectus totam non quasi?</p>
           
        <span class="lable"> new card </span>
        </div>
        
            <div class="card">
                <img class="card-img" src="/Ehsan-FrontClass/assets/images/nature.jpg">
                <h3 class="card-title"> programing lang</h3>
                <p class="card-des"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit sunt exercitationem officia nesciunt dicta, deserunt voluptate libero distinctio provident accusamus aspernatur id mollitia dignissimos. Eaque delectus totam non quasi?</p>
                </div>

</div>

</body>
</html>