<!DOCTYPE html>
<html lang="EN">
<head>
<meta charset="UTF-8">
<meta name="viweport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="this is a academic website">
<meta name="keywords" content="HTML, academic, css, website">
<title> this is my website</title>

<style>
h2{ color: blue; } 
li{color: green;}
</style>

<link href="/Ehsan-FrontClass/assets/style/style.css" rel="stylesheet">

</head>


<body>

    <p class="title" id="title">heading</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendus, ipsam voluptas officiis corporis. Provident vitae magni officia earum repellendus eos obcaecati maxime. </p>
    
<h1 style="color:red">heading 1</h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendus, ipsam voluptas officiis corporis. Provident vitae magni officia earum repellendus eos obcaecati maxime. </p>

<h2>heading 2</h2>
<h3 class="title">heading 3</h3>
<h4>heading 4</h4>
<h5>heading 5</h5>
<h6 class="title">heading 6</h6>

<b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam eius voluptas incidunt itaque aspernatur voluptates, dolorem qui corporis ratione excepturi accusamus nesciunt praesentium expedita. Tenetur delectus fugit recusandae ab iure.  </b>

<p>  Lorem ipsum dolor sit <b> amet consectetur</b> adipisicing elit. Adipisci hic magni explicabo velit repudiandae sed quas sapiente quis deserunt ea blanditiis nobis, aliquid tempora laborum culpa veritatis perferendis repellendus quidem? </p>

<strong>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ad quod debitis, minus at animi magnam commodi dicta fuga dolore molestias perferendis voluptatibus recusandae! Rem culpa eum dolorum alias saepe! </strong>

<!-- this is my list -->

<h2 class="heading2">unordered list</h2>
<ul type="none">
<li>kiwi</li>
<li>apple</li>
<li>orange</li>
<li>banana</li>
</ul>



<h2>ordered list</h2>
<ol type="a">
    <li>Ali</li>
    <li>mohammad</li>
    <li>amir</li>
    <li>ehsan</li>
    <li>ehsan</li>
</ol>


<ul>
<li>Front end</li>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JS</li>
    <ul>
        <li>Vue js</li>
        <li>React js</li>
    </ul>
</ul>
<li>Back end</li>
<ol>
    <li>C#</li>
    <li>node js</li>
</ol>
</ul>

<a href="https://www.digikala.com/" target="_blank"> digikala website1  </a>
<br/>
<a href="https://www.digikala.com/"> digikala website2  </a>
<br/>

<a href="/Ehsan-FrontClass/view/about.html">go to about page</a>
<br/>
<a href="/Ehsan-FrontClass/view/contact.html"> contact us  </a>
<br/>

<a href="tel:123456789">phone</a>
<br/>

<a href="mailto: test@gmail.com">my email</a>

<img src="/Ehsan-FrontClass/assets/images/nature.jpg" alt="this is a nature image" width="300" height="200"> 

<img src="https://c768544.parspack.net/blogs/984e86a8-6e4c-11ec-8e2f-117222102157/_header.jpeg" alt="zharfa package" width="300" height="200">

<br/>
<br/>
<br/>
<br/>
<br/>

<form>
<input type="text" name="username" placeholder="enter your name">
<input type="password" name="password" placeholder="your pass" required>
<input type="email" name="email" placeholder="enter your email">
<input type="number" name="number" placeholder="enter your phone">
<input type="date" name="date" placeholder="date">
<input type="color" name="color" placeholder="color">

<textarea name="comment" rows="4" cols="50" placeholder="enter your comment"></textarea>

<input type="button" value="submit">
<input type="submit" value="submit 2222">

<button> please click</button>

</form>

<p id="my-p">  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, numquam unde. Dolore enim fugit quia sit, repellendus ipsam quisquam? Molestiae rerum magnam quas? Consectetur voluptates earum totam modi hic perferendis. </p>

<br/>
<br/>
<br/>
<br/>



<div class="square">  
    <img src="/Ehsan-FrontClass/assets/images/nature.jpg">
  <h2>my title</h2>  
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita atque asperiores cupiditate dolorum. Animi non commodi vel eos nobis esse deleniti. Deleniti unde labore ea ut sit ex laboriosam voluptatum!</p>


</div>


<p class="highlight">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, distinctio eaque qui similique architecto modi doloremque rem voluptas veritatis obcaecati vitae cum, libero ratione iste ipsum soluta delectus? Reprehenderit, ullam! </p>



<div class="myCard">
<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, iusto odio! Suscipit perspiciatis accusantium laudantium consequuntur expedita sed deleniti autem iusto! Magnam soluta iusto nemo, repudiandae tenetur aspernatur error omnis!</p>
</div>

<br/>

<div class="border">
<a  href="tel:021123456"> 021123456789 </a>
</div>



</body>

</html>
