<!DOCTYPE html>
<html lang="EN">
<head>
<meta charset="UTF-8">
<meta name="viweport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="this is a academic website">
<meta name="keywords" content="HTML, academic, css, website">
<title> this is my website</title>
</head>

<body>
    <P>heading</P>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendus, ipsam voluptas officiis corporis. Provident vitae magni officia earum repellendus eos obcaecati maxime. </p>
    
<h1>heading 1</h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendusLorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolor quos dolorum tenetur animi placeat aut repellendus, ipsam voluptas officiis corporis. Provident vitae magni officia earum repellendus eos obcaecati maxime. </p>

<h2>heading 2</h2>
<h3>heading 3</h3>
<h4>heading 4</h4>
<h5>heading 5</h5>
<h6>heading 6</h6>

<b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam eius voluptas incidunt itaque aspernatur voluptates, dolorem qui corporis ratione excepturi accusamus nesciunt praesentium expedita. Tenetur delectus fugit recusandae ab iure.  </b>

<p>  Lorem ipsum dolor sit <b> amet consectetur</b> adipisicing elit. Adipisci hic magni explicabo velit repudiandae sed quas sapiente quis deserunt ea blanditiis nobis, aliquid tempora laborum culpa veritatis perferendis repellendus quidem? </p>

<strong>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ad quod debitis, minus at animi magnam commodi dicta fuga dolore molestias perferendis voluptatibus recusandae! Rem culpa eum dolorum alias saepe! </strong>



<h2>unordered list</h2>
<ul type="none">
<li>kiwi</li>
<li>apple</li>
<li>orange</li>
<li>banana</li>
</ul>



<h2>ordered list</h2>
<ol type="a">
    <li>Ali</li>
    <li>mohammad</li>
    <li>amir</li>
    <li>ehsan</li>
    <li>ehsan</li>
</ol>


<ul>
<li>Front end</li>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JS</li>
    <ul>
        <li>Vue js</li>
        <li>React js</li>
    </ul>
</ul>
<li>Back end</li>
<ol>
    <li>C#</li>
    <li>node js</li>
</ol>
</ul>

<a href="https://www.digikala.com/" target="_blank"> digikala website1  </a>
<br/>
<a href="https://www.digikala.com/"> digikala website2  </a>
<br/>

<a href="/view/about.html">go to about page</a>
<br/>
<a href="/view/contact.html"> contact us  </a>
<br/>

<a href="tel:123456789">phone</a>
<br/>

<a href="mailto: test@gmail.com">my email</a>



</body>



</html>
