<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opacity</title>
    <link href="/Ehsan-FrontClass/assets/style/opacity.css" rel="stylesheet">
</head>

<body>

    <div class="main-container">
        <ul class="menu">
            <li>item 1</li>
            <li>item 2</li>
            <li> item 3</li>
            <li> item 4</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
            <li> item 5</li>
        </ul>
        <div class="bg-opacity"></div>

    </div>



</body>

</html>