<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Ehsan-FrontClass/project/styles/resetCSS.css">
    <link rel="stylesheet" href="/Ehsan-FrontClass/project/styles/main.css">
    <title> website </title>
</head>
<body>

    <div class="nav container">

    <div>
        <ul class="menu">
            <li>خودرو</li>
            <li>  موتورسیکلت </li>
            <li>سنگین</li>
            <li>باما</li>
        </ul>
    </div>
    <div class="nav-left">

<div class="uderProfileContainer">
    <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="9" r="3" stroke="#1C274C" stroke-width="1.5"></circle> <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle> <path d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
 
    <a class="uderProfile" href="#"> حساب کاربری </a>
   
    <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="24" height="24" fill="white"></rect> <path d="M17 9.5L12 14.5L7 9.5" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>

</div>

<div class="advertiser">
    <svg class="plus" width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    <a> ثبت آگهی </a>
</div>

    </div>

    </div>



<section>

<div class="logo">
    <svg width="101" height="85" viewBox="0 0 81 65" fill="none" xmlns="http://www.w3.org/2000/svg" class="bama-logo-large__svg" data-v-5561ece8=""><path d="M78.5 26.2959H62.5V42.2959H78.5V26.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path> <path d="M18.5 2.2959H2.5V42.2959H18.5V2.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path> <path d="M58.5 2.2959H42.5V42.2959H58.5V2.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path> <path d="M30.5 42.2959C34.9183 42.2959 38.5 38.7142 38.5 34.2959C38.5 29.8776 34.9183 26.2959 30.5 26.2959C26.0817 26.2959 22.5 29.8776 22.5 34.2959C22.5 38.7142 26.0817 42.2959 30.5 42.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path> <path d="M70.5 62.2959C74.9183 62.2959 78.5 58.7142 78.5 54.2959C78.5 49.8776 74.9183 46.2959 70.5 46.2959C66.0817 46.2959 62.5 49.8776 62.5 54.2959C62.5 58.7142 66.0817 62.2959 70.5 62.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path></svg>

</div>


<div class="serach-container">
    <input class="search" placeholder="جستجو
خودرو “بنز دانشجویی سفید”" type="text">
<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M15 10.5C15 12.9853 12.9853 15 10.5 15C8.01472 15 6 12.9853 6 10.5C6 8.01472 8.01472 6 10.5 6C12.9853 6 15 8.01472 15 10.5ZM14.1793 15.2399C13.1632 16.0297 11.8865 16.5 10.5 16.5C7.18629 16.5 4.5 13.8137 4.5 10.5C4.5 7.18629 7.18629 4.5 10.5 4.5C13.8137 4.5 16.5 7.18629 16.5 10.5C16.5 11.8865 16.0297 13.1632 15.2399 14.1792L20.0304 18.9697L18.9697 20.0303L14.1793 15.2399Z" fill="#080341"></path> </g></svg>

</div>


</section>






</body>
</html>