


/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */




/* selector{

    property: value;

} */


 .bg-light{
    background-color: #c4ffeb;
    color: black;
}



p{
    color: cornflowerblue;
}

.redcolor{
    color: red;
}

#heading3{
    color: green;
}


.myfont{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
}

.mytext{
    color: #000000;
    text-align: justify;
}


.mahtabstext{
    color: aqua;
    background-color: darkblue;
    text-align: center;
}


.square{
    width: 250px;
    height: 250px;
    background-color: #46d4ff;
}


.bg-img{
width: 500px;
height: 600px;
/* background-color: aqua; */
background-image: url(/Mahtab-FrontClass/image/nature.jpg);
/* background-repeat: repeat; */
/* background-repeat: no-repeat; */
/* background-repeat: repeat-x; */
/* background-repeat: repeat-y; */
background-repeat: no-repeat;
background-color: #84bfff;
/* top right left bottom:  */
/* background-position: top right; */
/* background-position: right bottom; */
background-position: center;
}


.Mycard{
    background-color: #c4ffeb;
    width: 400px;
    height: auto;
    border: 4px dotted #ae1c1c;
}

.Mycard img{
    width: 100%;
    border: 3px solid blue;
}


.border{
/* border-width: 10px; */
/* border-style: dotted; */
/* border-style: dashed; */
/* border-style: solid; */
/* border-color: #ae1c1c; */
border: 5px solid #ae1c1c;
width: 250px;
height: 250px;
border-radius: 15px;
}

.border2{
    width: 200px;
    height: 200px;
    background-color: #e7b9ff;
    /* border: 2px solid #430963; */
    border-right: 5px solid red;
    border-bottom: 5px solid blue;
    border-left: 10px dotted black;
    border-top: 6px double #6bc814;
}

.myBorder{

    width: 300px;
    height: 200px;
    border: medium solid #d12643;
    text-align: center;
    border-radius: 10px 50px 100px 0px;
    /* border-radius: 20px 100px; */
}


.box{

    width: 250px;
    height: 250px;
    background-color: #46d4ff;
    border: 2px solid blue;
    /* margin: 100px; */
    /* margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 50px;
    margin-right: 80px; */
/* margin: 100px 80px 50px 20px; */
/* margin-top: 100px;
margin-bottom: 100px;
margin-left: 10px;
margin-right: 10px; */

margin: 100px 10px;

/* padding: 50px; */
/* padding-top: 50px;
padding-left: 50px;
padding-bottom: 50px;
padding-right: 50px; */

/* padding: 50px 10px; */

/* padding: 20px 50px 60px 100px; */


}

/*
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 */


.box p{
    color: #000000;
    margin-left: 20px; 
/* text-align: center; */
/* margin: auto; */
}

.box2{
    width: 300px;
    height: 400px;
    /* background-color: #ae1c1c; */
    /* background-image: linear-gradient(to top, #eb0707, #ff8d8d); */
    /* background-image: linear-gradient(to top, #eb0707, blue, green, yellow, pink, violet, black); */
    background-image: linear-gradient(130deg, #eb0707, #f28e8e );

}

.box3{
    width: 250px;
    height: 250px;
    /* background-color: #46d4ff; */
    margin-top: 100px;
    margin-bottom: 200px;
    /* background-image: radial-gradient(circle, #abebff, #012d3a); */
    /* background-image: radial-gradient(circle at bottom right, #abebff, #012d3a); */
    /* background-image: radial-gradient(circle, red, blue, green, yellow, pink, #012d3a); */
    background-image: radial-gradient(circle, #002a37, #09576e, #188aad, #5ac4e5, #c2f1ff); 

    border-radius: 100%;

}



.box4{
    width: 200px;
    height: 200px;
    border:1px solid red;
    margin-bottom: 100px;
    background-image: conic-gradient(red,yellow,green,blue, pink,black);

}


.box5{
    width: 500px;
    height: 500px;
    background-image: linear-gradient(rgba(0, 38, 255, 0.352), rgba(125, 107, 223, 0.456)), url(/Mahtab-FrontClass/image/nature.jpg);
}



.position{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin-top: 20px;
    /* position: static; */
    /* position: relative;
    left: 100px;
    top: 2px;
    right: 4px;
    bottom: 6px; */
    position: absolute;
    top: 60%;
    right: 20%;
}


.pos-relative{
    position: relative;
    height: 300px;
    width: 500px;
    background-color: #46d4ff;
    margin-top: 20px;
}


.pos-absolute{
    background-color: #002a37;
    width: 100px;
    height: 100px;
    position: absolute;
    /* right: 10%;
    bottom: 50%; */
    /* left: 20px;
    top: 20px; */
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


.fixed{
    background-color: #c2f1ff;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}


.myImg{
    position: fixed;
    left: 0;
    width: 50px;
    height: 50px;
    top: 30%;
}


.sticky{
    position: sticky;
    top: 0;

}