.text{
    font-size: 20px;
    color: darkblue;
    letter-spacing: 2px;
    word-spacing: 5px;
    position: relative;
}


.text::before{
    content: "✔️";
}


.text::after{
    content: "";
    width: 10px;
    height: 5px;
    border:1px solid red;
    padding: 10px;
}

ul{
    list-style: none;
}

li::before{
    content: "✤";
    color: red;
    font-size:20px;
    padding-right: 10px;
}