body{
    direction: rtl;

}


.menu{
    display: flex;
}


.menu li{
    padding: 10px 20px;
    font-size: 18px;
}


.uderProfile{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 0 5px;
}

.uderProfileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.advertiser{
    border: 1px solid #b3b3b3;
    width: 140px;
    border-radius: 50px;
    padding: 8px;
    font-size: 18px;
display: flex;
align-items: center;
justify-content: space-around;
margin-right: 20px;
}


    .plus{
        background-color: #36ef4e;
        padding: 8px;
        border-radius: 50px;
    }


    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }


    .nav-left{
        display: flex;
        justify-content: center;
    }



 .container{
    padding-left: 100px;
    padding-right: 100px;
 }   


 .advertiser:hover{
    background-color: #dcdcdc;
    cursor: pointer;
 }

 .logo{
    display: flex;
    justify-content: center;
 }

 .search{
    width: 450px;
    border-radius: 50px;
    padding: 15px 10px;
    border: none;
    background-color:#ffffff ;
 }


 .serach-container{
    position: relative;
    width: 450px;
    margin: auto;
    margin-top: 30px;

 }


 
 .serach-container svg{
    position: absolute;
    left: 0;
    top: 30%;
 }

 .car-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
padding-bottom: 100px;
 }


 .car-gallery-item{
    text-align: center;
    padding: 0 30px;
 }


 
 .car-gallery-item-img{
width: 200px;

}


.car-gallery-item-title{
    margin-top: 20px;
    font-size: 20px;
}



.padding-t{
    padding-top: 100px;
}


.bg-gray{
    background-color: #e6e6e6;
}


/* .circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
} */


.section-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 100px;
}


.service-card{

    background-color: #e1e1e1;
    height: auto;
    width: 180px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;

}


.service-card img{
width: 150px;
height: 150px;

}


.service-card-title{
    font-weight: bold;
    margin: 20px;
    font-size: 15px;
    
}


.service-card-des{
    margin: 5px;
    font-size: 12px;
    
}



.service-card:hover{
background-color: #e0e0fd;
outline: 1px solid blue;

}


.services{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    flex-wrap: wrap;
}